.mytitle
{
	background-color: #33BEBE;
	font-family: 'PT Sans', sans-serif;
	height: 80px;
}
.app{
	display: flex;
}
.description {
	color: #7C8B88;
    padding-left: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	
}
.screenshot {
	
}
.container{
	padding: 80px;
} 